.header {
	background-color: var(--background-primary);
	color: var(--color-secondary);

}

.nav {

	height: 78px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__list {
		display: flex;
		gap: 20px;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__link {
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		line-height: 19px;

		&:hover {
			color: var(--link-hover);
		}

		transition: color .3s;
	}

	&__selections {
		margin-left: -1rem;
		position: absolute;
		padding: 0 1rem;
		height: 12rem;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #0959A0;
		border-radius: 0 0 0.5rem 0.5rem;
	}
}
