.footer {
	padding: 49px 0;
	background-color: var(--background-primary);
	color: var(--color-secondary);

	&__content {
		display: grid;
		grid-template: 1fr / 1fr 1fr 1fr;

		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		line-height: 20px;
	}

	&__logo {
		max-width: 83px;
		display: flex;
		flex-direction: column;
		align-items: center;

		font-size: 14px;
		line-height: 17px;

		&--title {
			font-weight: 500;
		}

		&--date {
			color: var(--link-hover);
			font-weight: 300;
		}
	}

	&__links {

	}
	&__developers {
		margin-top: auto;
	}

}

.links {
	&__list {
		display: flex;
		gap: 5px;
		margin-bottom: 10px;
	}

	&__item {

	}

	&__icon {
		display: block;
		width: 50px;
		height: 50px;


		&--instagram {
			background-image: url(../../../assets/svg/instagram.svg);
			&:hover {
				background-image: url(../../../assets/svg/instagram-hover.svg);
			}
		}
		&--VK {
			background-image: url(../../../assets/svg/VK.svg);
			&:hover {
				background-image: url(../../../assets/svg/VK-hover.svg);
			}
		}
		&--facebook {
			background-image: url(../../../assets/svg/facebook.svg);
			&:hover {
				background-image: url(../../../assets/svg/facebook-hover.svg);
			}
		}
		&--youtube {
			background-image: url(../../../assets/svg/youtube.svg);
			&:hover {
				background-image: url(../../../assets/svg/youtube-hover.svg);
			}
		}
		&--email {
			background-image: url(../../../assets/svg/email.svg);
			&:hover {
				background-image: url(../../../assets/svg/email-hover.svg);
			}
		}

		transition: background-images .3s;
	}
}
