.btn {
	border: 1px solid var(--color-secondary);
	border-radius: 5px;
	color: var(--color-secondary);
	width: 270px;
	height: 60px;
	font-family: "Montserrat",sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	text-align: center;

	&:hover {
		background-color: var(--background-btn-hover);
		border-color: var(--background-btn-hover);
		cursor: pointer;
	}
	//************ размеры (по умолчанию XXL)

	//************ типы
	&.dark {
		border-color: var(--background-primary);
		background-color: var(--background-primary);
		color: var(--color-secondary);

		&:hover {
			color: var(--color-thrid);
			background-color: var(--background-secondary);
		}
	}

	&.light {
		border-color: var(--background-primary);
		background-color: var(--background-secondary);
		color: var(--color-thrid);

		&:hover {
			background-color: var(--background-primary);
			color: var(--color-secondary);
		}
	}
}
