:root {
	/*Размеры*/
	--container: calc(1130px + 40px);

	/*Цвета фона*/
	--background-primary: #0959A0;
	--background-secondary: #fff;
	--background-btn-hover: #094A84;
	--background-table: #eaf4fe;

	/*Цвета текста*/
	--color-primary: #000;
	--color-secondary: #fff;
	--color-thrid: #0959A0;
	--color-darker: #15212F;
	--color-darker-alfa: rgba(0, 0, 0, 0.7);
	--link-hover: rgba(255, 255, 255, 0.7);
}
